*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #acb2b9;
}

.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: hsl(207, 12%, 19%);
}

.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  border-width: 1px;
  color: hsl(206, 17%, 28%);
  font-size: 20px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
  text-align: center;
}



.card-footer {
  text-align: center;
}


.btn {
    
        background:linear-gradient(to bottom, #342abf 5%, #c6c4dd 100%);
        background-color:#342abf;
        border-radius:2px;
        border:6px solid #342abf;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:17px;
        font-weight:bold;
        font-style:italic;
        padding:22px 49px;
        text-decoration:none;
        text-shadow:0px 0px 0px #275966;
    
}

    .myButton:active {
        position:relative;
        top:1px;
    }



#password {
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 3rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
}

@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}
